:root {
  /* COLOR */
  --Artic: rgb(0, 217, 247);
  --artic-2: rgb(0, 217, 247);
  --berry-gum: rgb(177, 0, 232);
  --bubble-bobble: rgb(209, 0, 209);
  --DBZ: rgb(219, 0, 182);
  --glamorous-goo: rgb(188, 0, 221);
  --hot-pinkest: rgb(242, 0, 137);
  --hot-pinkr: rgb(229, 0, 164);
  --Indigogo: rgb(45, 0, 247);
  --purple-rain: rgb(106, 0, 244);
  --purple-trouble: rgb(137, 0, 242);
  --velvet-underground: rgb(161, 0, 242);
}
